body {
  font-family: "Open Sans", sans-serif;
  background: #f9f7fe;
}

h1 {
  color: #54416d;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #312e36dc;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #684e8a;
  font-style: italic;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 45px auto;
}

.weather-app {
  padding: 30px;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 6px #d7d7d7;
  background: #ffffff;
}

.weather-app .search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  display: inline-block;
  font-size: 16px;
  height: 45px;
  line-height: 20px;
  padding: 15px 20px;
}

.weather-app .btn {
  background: #2b235a;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 44px;
}

.overview {
  margin: 30px auto;
}

.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 90px;
  width: 90px;
  position: relative;
  top: -10px;
}

.temperature {
  color: #2b235a;
  font-size: 64px;
  line-height: 1;
  font-weight: 500;
}

.weather-app .unit {
  color: #54416d;
  position: relative;
  font-size: 16px;
  top: 4px;
}

.weather-info .display-info {
  color: #54416d;
  font-weight: bold;
}

.weather-forecast {
  margin: 30px auto 12px;
  text-align: center;
}

.weather-forecast-date {
  color: #54416d;
  font-size: 16px;
}

.weather-forecast-temp {
  color: #312e36dc;
  font-size: 14px;
}

.weather-forecast-temp-min {
  color: #7d8789;
}
